.appBar {
  background-color: white !important;
  border-bottom: 1px solid lightgray !important;
  box-shadow: none !important;
}


.appBar__logo {
  object-fit: contain;
}

.appbar__toolbar {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}

.appBar__icon {
  font-size: 32px !important;
  color: black !important;

}

.appBar__iconSend {
  font-size: 32px !important;
  color: black !important;
  transform: rotate(-20deg) !important;
}

.appBar__moreIcon {
  color: black !important;
}



.app__post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 70px 40px;
}

.post__left {
  flex: 0.6;
  text-align: center;
}


.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post {
  max-width: 600px;
}

.post__img {
  width: 100%;
  object-fit: contain;
}

.post__text {
  padding: 5px;
  padding-bottom: -15px;
  margin-left: 10px;
  text-align: left;
}
.post__caption {
  font-weight: normal;
}

.post__comments {
  display: flex;
  align-self: flex-start;
  text-align: right !important;
  margin-left: 10px;
  /* padding: 10px !important; */
}


.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  border: none;
  border-top: 1px solid lightgray;
  color: #007dfa;
  background-color: transparent;
  flex: 0;
  cursor: pointer;
  margin-right: 5px;
}

.post__button:focus {
  border: 2px solid red;
}

.post__button:focus{
  border: 5px solid blue;
}

.post__right {
  margin-left: 10px;
}
